$dark: #354649;
$mid: #6c7a89;
$light: #e0e7e9;
$dark-red: #7a0303;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:focus {
    outline: 1px solid $dark-red;
  }
}

html {
  text-align: center;
  font-family: sans-serif;
  background-color: $mid;
  color: $dark;
}

.grid {
  font-family: "Noto Sans", sans-serif;
  display: grid;
  width: 100%;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

header,
.navsection {
  background-color: $light;
  border-bottom: 2px solid $dark-red;
}

header {
  width: 100%;

  .title {
    width: 100%;
    font-size: 5em;
    text-shadow: 5px 1px white;
    margin: 0.25em 0 0.25em 0;
    font-family: "Alfa Slab One", cursive;
  }
}

.navsection {
  width: 100%;
  height: 100%;
}

.navlinks {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  align-items: center;

  .list-item {
    height: 100%;

    .navbutton {
      height: 100%;
      align-items: center;
      padding: 0 1em;
      color: $dark-red;
      width: 125px;
      font-size: 1.25em;
      background: none;
      border: none;
      outline: none;

      &:hover {
        color: $light;
        background-color: $dark;
        transition: 0.75s;
      }
    }
  }
}

#quote {
  font-family: "Kaushan Script", cursive;
  color: $dark-red;
  font-size: 1.25em;
  padding: 1em 0;
}

.login {
  font-size: 1.5em;
  padding: 1em 0;
  color: $light;
}

.infobox {
  grid-column: 1 / span 2;
  background-color: $light;
  border: 2px solid $dark-red;
  border-radius: 10px;
  width: 90%;
  max-width: 1100px;
  min-height: 500px;

  .topictitle {
    padding: 1em;
    font-size: 2em;
  }

  .listheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

    h2 {
      padding: 1em;
      font-size: 2em;
      width: 60%;
      text-align: left;
    }

    .sortcat {
      display: flex;
      align-items: center;
    }
  }
}

.infocard {
  list-style: none;

  a {
    text-decoration: none;
    color: $dark;

    .title {
      font-size: 1.25em;
    }

    &:hover {
      color: $dark-red;
      transition: 0.5s;
    }
  }
}

.infoshort {
  padding: 1em;
  border-bottom: 1px solid $dark-red;
  width: 85%;
  margin: 0 auto;

  .avatar {
    .avatar-img {
      height: 75px;
      width: 75px;
      border: 1px solid $dark-red;
      border-radius: 3px;
    }
  }
}

.topic {
  text-transform: capitalize;
}

.userinfo {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .userdata {
    width: 150px;
  }
}

.button {
  color: $light;
  font-size: 1em;
  background-color: $dark;
  border-radius: 5px;
  border: 2px solid $light;
  padding: 0.25em 0.75em;

  &:hover {
    background-color: $dark-red;
    border: 2px solid $dark;
  }
}

.article {
  padding: 2em;

  h2 {
    padding: 1em 0 0.5em 0;
  }

  h3 {
    padding: 1em 0;
  }
}

.likes {
  padding: 1em;
}

.delete {
  margin: 1em;
}

.arrow {
  color: $light;
  font-size: 0.75em;
  background-color: $mid;
  border-radius: 50%;
  border: 2px solid $light;
  padding: 0.25em;
  margin: 0.25em;
  outline: none;

  &:hover {
    border: 2px solid $dark;
    transition: 0.5s;
  }

  &:focus {
    outline: none;
  }
}

.commentform {
  padding: 2em;
  font-size: 1em;
}

.add {
  color: $light;
  font-size: 1em;
  background-color: $dark;
  border-radius: 5px;
  border: 2px solid $light;
  padding: 0.25em 0.75em;

  &:hover {
    background-color: $mid;
    color: $light;
    border: 2px solid $dark;
  }
}

.commentinput {
  margin: 1em;
  font-size: 1em;
  width: 30%;
  min-width: 150px;
  padding: 0.25em;
  text-align: center;
}

.commentcard {
  border-top: 1px solid $dark-red;
  padding: 1em 0;
  width: 80%;
  margin: 0 auto;
  list-style: none;

  h3 {
    padding: 1em 0;
  }
}

.articleAdder {
  padding: 2em;
  font-size: 1.25em;

  p {
    font-size: 1.25em;
    padding: 0.25em 0;
  }
}

.articleitem {
  display: block;
  margin: 0.5em 0;
}

#myList {
  font-size: 1em;
  border: 1px solid $dark-red;

  &:focus {
    outline: none;
  }
}

.articleinput {
  font-size: 1em;
  outline: none;
  border: 1px solid $dark-red;
  border-radius: 5px;
  text-align: center;
  width: 50%;
}

.bodyinput {
  height: 100px;
  width: 80%;
  margin: 1em auto;
}

.sorry {
  font-size: 3em;
  text-align: center;
  padding: 2em;
}

.errorinfo {
  font-size: 2em;
  margin-bottom: 1em;
}

footer {
  grid-column: 1 / span 2;
  padding: 2em 0;
}

@media only screen and (max-width: 900px) {
  header {
    .title {
      font-size: 3em;
    }
  }

  .navlinks {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    align-items: center;

    .list-item {
      height: 100%;

      .navbutton {
        height: 100%;
        align-items: center;
        padding: 0 0.5em;
        color: $dark-red;
        width: 85px;
        font-size: 1em;
        background: none;
        border: none;
        outline: none;

        &:hover {
          color: $light;
          background-color: $dark;
          transition: 0.75s;
        }
      }
    }
  }

  #quote,
  .login {
    font-size: 1em;
  }
}

@media only screen and (max-width: 630px) {
  .grid {
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .infobox {
    grid-column: 1 / span 1;
  }

  footer {
    grid-column: 1 / span 1;
    padding: 2em 0;
  }

  header,
  .navsection {
    border-bottom: none;
  }

  .header {
    .title {
      margin-bottom: 0;
    }
  }

  #quote {
    grid-row: 2;
    width: 100%;
    border-bottom: 2px solid $dark-red;
    background-color: $light;
  }

  #quote,
  .login {
    padding: 1em;
  }

  .navsection {
    background-color: $mid;
  }

  .navlinks {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    align-items: center;

    .list-item {
      height: 100%;

      .navbutton {
        height: 100%;
        align-items: center;
        padding: 1em 0.15em;
        color: $dark-red;
        font-size: 1.15em;
        background: none;
        border: none;
        outline: none;

        &:hover {
          color: $light;
          background-color: $dark;
          transition: 0.75s;
        }
      }
    }
  }

  .infobox {
    .listheader {
      display: flex;
      flex-direction: column;
      margin: 0.25em 0.5em;

      h2 {
        font-size: 1.5em;
        text-align: center;
      }
    }
  }

  .userinfo {
    flex-direction: column;
  }
}
