$dark-blue: #072154;
$light-blue: #dfe7ff;
$red: #ff0000;
$white: #ffffff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  text-align: center;
  font-family: sans-serif;
  background-color: wheat;
  color: $dark-blue;
}

.grid {
  font-family: "Noto Sans", sans-serif;
  display: grid;
  width: 100%;
  grid-template-rows: auto auto auto auto;
  // banner photo will remain a fixed size
  grid-template-columns: 1fr 1fr;
  // this ensures 50% for title and navigation
  justify-items: center;
}

header,
.navsection {
  background-color: rgb(207, 233, 227);
  border-bottom: 2px solid $red;
}

header {
  width: 100%;

  .title {
    width: 100%;
    font-size: 5em;
    text-shadow: 5px 1px white;
    margin: 0.25em 0 0.25em 0;
    font-family: "Alfa Slab One", cursive;
  }
}

.navsection {
  width: 100%;
  height: 100%;
}

.navlinks {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  align-items: center;
  // //pushes navlinks to the right of the page
  // margin-right: 10%;

  .list-item {
    height: 100%;
    // display: flex;
    // position: relative;

    .navbutton {
      // display: flex;
      height: 100%;
      align-items: center;
      padding: 0 1em;
      // text-decoration: none;
      color: $red;
      width: 125px;
      font-size: 1.25em;
      background: none;
      border: none;
      outline: none;
      // height and width 100% so fills li container

      &:hover {
        color: $dark-blue;
        background-color: $white;
        transition: 0.75s;
      }
    }
  }
}

#quote {
  font-family: "Kaushan Script", cursive;
  color: $red;
  font-size: 1.25em;
  padding: 1em 0;
}

.login {
  font-size: 1.5em;
  padding: 1em 0;
}

.infobox {
  grid-column: 1 / span 2;
  background-color: rgb(207, 233, 227);
  border: 2px solid $red;
  border-radius: 10px;
  width: 90%;
  max-width: 1100px;
  min-height: 500px;

  .topictitle {
    padding: 1em;
    font-size: 2em;
  }

  .listheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

    h2 {
      padding: 1em;
      font-size: 2em;
      width: 60%;
      text-align: left;
    }
  }
}

.infocard {
  list-style: none;

  a {
    text-decoration: none;
    color: $dark-blue;

    .title {
      font-size: 1.25em;
    }

    &:hover {
      color: $red;
      transition: 0.5s;
    }
  }
}

.infoshort {
  padding: 1em;
  border-bottom: 1px solid $red;
  width: 85%;
  margin: 0 auto;

  .avatar {
    .avatar-img {
      height: 75px;
      width: 75px;
      border: 1px solid $red;
      border-radius: 3px;
    }
  }

  .topic {
    text-transform: capitalize;
  }
}

.userinfo {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .userdata {
    width: 150px;
  }
}

.button {
  color: $white;
  font-size: 1em;
  background-color: $dark-blue;
  border-radius: 5px;
  border: 2px solid $white;
  padding: 0.25em 0.75em;

  &:hover {
    background-color: $red;
    border: 2px solid $dark-blue;
  }
}

.article {
  padding: 2em;

  h2 {
    padding: 1em 0 0.5em 0;
  }

  h3 {
    padding: 1em 0;
  }

  .articlebody {
    text-align: left;
  }
}

.likes {
  padding: 1em;
}

.delete {
  margin: 1em;
}

.arrow {
  color: $dark-blue;
  font-size: 0.5em;
  background-color: wheat;
  border-radius: 50%;
  border: 2px solid $white;
  padding: 0.25em;
  margin: 0.25em;

  &:hover {
    border: 2px solid $dark-blue;
    transition: 0.5s;
  }
}

.commentform {
  padding: 2em;
  font-size: 1em;
}

.add {
  color: $white;
  font-size: 1em;
  background-color: $dark-blue;
  border-radius: 5px;
  border: 2px solid $white;
  padding: 0.25em 0.75em;

  &:hover {
    background-color: wheat;
    color: $dark-blue;
    border: 2px solid $dark-blue;
  }
}

.commentinput {
  margin: 1em;
  font-size: 1em;
  width: 50%;
  padding: 0.25em;
}

.commentcard {
  border-top: 1px solid $red;
  padding: 1em 0;
  width: 80%;
  margin: 0 auto;
  list-style: none;

  h3 {
    padding: 1em 0;
  }
}

.articleAdder {
  padding: 2em;
  font-size: 1.25em;
}

.articleitem {
  display: block;
  margin: 0.5em 0;
}

.articleinput {
  font-size: 1em;
  outline: none;
  border: 1px solid $red;
  border-radius: 5px;
  text-align: center;
  width: 50%;
}

.bodyinput {
  height: 100px;
  width: 80%;
  margin: 2em;
}

.sorry {
  font-size: 3em;
  text-align: center;
  padding: 2em;
}

.errorinfo {
  font-size: 2em;
  margin-bottom: 1em;
}

footer {
  grid-column: 1 / span 2;
  padding: 2em 0;
}

// font-family: 'Alfa Slab One', cursive;
// font-family: 'Kaushan Script', cursive;
// font-family: 'Cousine', monospace;
