* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: 1px solid #ff0000;
}

html {
  text-align: center;
  font-family: sans-serif;
  background-color: wheat;
  color: #072154;
}

.grid {
  font-family: "Noto Sans", sans-serif;
  display: grid;
  width: 100%;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

header,
.navsection {
  background-color: #cfe9e3;
  border-bottom: 2px solid #ff0000;
}

header {
  width: 100%;
}
header .title {
  width: 100%;
  font-size: 5em;
  text-shadow: 5px 1px white;
  margin: 0.25em 0 0.25em 0;
  font-family: "Alfa Slab One", cursive;
}

.navsection {
  width: 100%;
  height: 100%;
}

.navlinks {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  align-items: center;
}
.navlinks .list-item {
  height: 100%;
}
.navlinks .list-item .navbutton {
  height: 100%;
  align-items: center;
  padding: 0 1em;
  color: #ff0000;
  width: 125px;
  font-size: 1.25em;
  background: none;
  border: none;
  outline: none;
}
.navlinks .list-item .navbutton:hover {
  color: #ffffff;
  background-color: #072154;
  transition: 0.75s;
}

#quote {
  font-family: "Kaushan Script", cursive;
  color: #ff0000;
  font-size: 1.25em;
  padding: 1em 0;
}

.login {
  font-size: 1.5em;
  padding: 1em 0;
}

.infobox {
  grid-column: 1/span 2;
  background-color: #cfe9e3;
  border: 2px solid #ff0000;
  border-radius: 10px;
  width: 90%;
  max-width: 1100px;
  min-height: 500px;
}
.infobox .topictitle {
  padding: 1em;
  font-size: 2em;
}
.infobox .listheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.infobox .listheader h2 {
  padding: 1em;
  font-size: 2em;
  width: 60%;
  text-align: left;
}
.infobox .listheader .sortcat {
  display: flex;
  align-items: center;
}

.infocard {
  list-style: none;
}
.infocard a {
  text-decoration: none;
  color: #072154;
}
.infocard a .title {
  font-size: 1.25em;
}
.infocard a:hover {
  color: #ff0000;
  transition: 0.5s;
}

.infoshort {
  padding: 1em;
  border-bottom: 1px solid #ff0000;
  width: 85%;
  margin: 0 auto;
}
.infoshort .avatar .avatar-img {
  height: 75px;
  width: 75px;
  border: 1px solid #ff0000;
  border-radius: 3px;
}
.infoshort .topic {
  text-transform: capitalize;
}

.userinfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.userinfo .userdata {
  width: 150px;
}

.button {
  color: #ffffff;
  font-size: 1em;
  background-color: #072154;
  border-radius: 5px;
  border: 2px solid #ffffff;
  padding: 0.25em 0.75em;
}
.button:hover {
  background-color: #ff0000;
  border: 2px solid #072154;
}

.article {
  padding: 2em;
}
.article h2 {
  padding: 1em 0 0.5em 0;
}
.article h3 {
  padding: 1em 0;
}
.article .articlebody {
  text-align: left;
}

.likes {
  padding: 1em;
}

.delete {
  margin: 1em;
}

.arrow {
  color: #072154;
  font-size: 0.5em;
  background-color: wheat;
  border-radius: 50%;
  border: 2px solid #ffffff;
  padding: 0.25em;
  margin: 0.25em;
  outline: none;
}
.arrow:hover {
  border: 2px solid #072154;
  transition: 0.5s;
}
.arrow:focus {
  outline: none;
  border: 2px solid #072154;
}

.commentform {
  padding: 2em;
  font-size: 1em;
}

.add {
  color: #ffffff;
  font-size: 1em;
  background-color: #072154;
  border-radius: 5px;
  border: 2px solid #ffffff;
  padding: 0.25em 0.75em;
}
.add:hover {
  background-color: wheat;
  color: #072154;
  border: 2px solid #072154;
}

.commentinput {
  margin: 1em;
  font-size: 1em;
  width: 30%;
  min-width: 150px;
  padding: 0.25em;
  text-align: center;
}

.commentcard {
  border-top: 1px solid #ff0000;
  padding: 1em 0;
  width: 80%;
  margin: 0 auto;
  list-style: none;
}
.commentcard h3 {
  padding: 1em 0;
}

.articleAdder {
  padding: 2em;
  font-size: 1.25em;
}
.articleAdder p {
  font-size: 1.25em;
  padding: 0.25em 0;
}

.articleitem {
  display: block;
  margin: 0.5em 0;
}

#myList {
  font-size: 1em;
  border: 1px solid #ff0000;
}
#myList:focus {
  outline: none;
}

.articleinput {
  font-size: 1em;
  outline: none;
  border: 1px solid #ff0000;
  border-radius: 5px;
  text-align: center;
  width: 50%;
}

.bodyinput {
  height: 100px;
  width: 80%;
  margin: 1em auto;
}

.sorry {
  font-size: 3em;
  text-align: center;
  padding: 2em;
}

.errorinfo {
  font-size: 2em;
  margin-bottom: 1em;
}

footer {
  grid-column: 1/span 2;
  padding: 2em 0;
}

@media only screen and (max-width: 900px) {
  header .title {
    font-size: 3em;
  }

  .navlinks {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    align-items: center;
  }
  .navlinks .list-item {
    height: 100%;
  }
  .navlinks .list-item .navbutton {
    height: 100%;
    align-items: center;
    padding: 0 0.5em;
    color: #ff0000;
    width: 85px;
    font-size: 1em;
    background: none;
    border: none;
    outline: none;
  }
  .navlinks .list-item .navbutton:hover {
    color: #ffffff;
    background-color: #072154;
    transition: 0.75s;
  }

  #quote,
.login {
    font-size: 1em;
  }
}
@media only screen and (max-width: 630px) {
  .grid {
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .infobox {
    grid-column: 1/span 1;
  }

  footer {
    grid-column: 1/span 1;
    padding: 2em 0;
  }

  header {
    border-bottom: none;
  }

  #quote,
.login {
    padding: 0.5em;
  }

  .navlinks {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    align-items: center;
  }
  .navlinks .list-item {
    height: 100%;
  }
  .navlinks .list-item .navbutton {
    height: 100%;
    align-items: center;
    padding: 1em 0.25em;
    color: #ff0000;
    width: 95px;
    font-size: 1.25em;
    background: none;
    border: none;
    outline: none;
  }
  .navlinks .list-item .navbutton:hover {
    color: #ffffff;
    background-color: #072154;
    transition: 0.75s;
  }

  .infobox .listheader {
    display: flex;
    flex-direction: column;
    margin: 0.25em 0.5em;
  }
  .infobox .listheader h2 {
    font-size: 1.5em;
    text-align: center;
  }

  .userinfo {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
